* {
    padding: 0;
    margin: 0;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.g-lf {
    float: left;
}

.g-rt {
    float: right;
}

.red {
    color: #ff0000;
}

.green {
    color: #00ff00;
}

.yellow {
    color: #cccc00;
}

.blue {
    color: #00ccff;
}
.darkbule{
    color: #1B8DD1;
}
.orange {
    color: #ff6600;
}

.pink {
    color: #ff99ff;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}
.bold{
    font-weight: bold;
}

.el-table th {
    background-color: #2f6189 !important;
}

.el-table thead {
    color: white !important;
}

.el-table__body, .el-table__footer, .el-table__header {
    border-bottom: 5px solid #172f4b;
}

.el-table tr {
    background-color: #1d3c5b;
    color: white;
}

.el-table--enable-row-hover .el-table__body tr:hover > td {
    background-color: #2f6189;
}

.el-table .cell, .el-table th div {
    padding-right: 0;
}

.el-table .cell, .el-table th div, .el-table--border td:first-child .cell, .el-table--border th:first-child .cell {
    text-align: center;
    padding-left: 0;
}



.el-table--border::after, .el-table--group::after, .el-table::before {
    background-color: #172f4b;
}

.el-table__empty-block {
    background-color: #11213A;
    color: white;
    font-weight: bold;
    font-size: 16px;
}

.inner-table {
}

/*覆盖的tab选项卡样式*/
.data-content .el-tabs--card > .el-tabs__header {
    border: none;
    margin: 0;
}

.data-content .el-tabs--card > .el-tabs__header .el-tabs__nav, .el-tabs--card > .el-tabs__header .el-tabs__item {
    border: none;
    border-radius: 0;
    background-color: #234b6c;
    height: 34px;
    line-height: 34px;
}

.data-content .el-tabs--card > .el-tabs__header .el-tabs__item.is-active {
    border: none;
    color: white;
    background-color: #2f6189;
}

.data-content .el-tabs__item {
    color: #1291de;
    text-align: center;
}

/*多个select的group*/
.select-group-wrapper {
    padding: 30px 10px 10px 10px;
}

.select-group-wrapper .el-select .el-input__inner {
    border-radius: 0;
    background-color: #5b6c7f;
    color: #c6c7c8;
    width: 117px;
    vertical-align: middle;
    border: solid 1px #46586c;
}

.select-group-wrapper .el-form-item {
    vertical-align: middle;
    margin-bottom: 0px;
}

.select-group-wrapper button {
    border-radius: 0;
    background-color: #48515c;
    color: #cccccc;
    width: 64px;
    vertical-align: middle;
    border: solid 1px #46586c;
}

.select-group-wrapper .el-button:focus, .el-button:hover {
    color: #c6c7c8;
    background-color: #234b6c;
}

.el-select-dropdown {
    background-color: #5b6c7f;
    border: none;
    border-radius: 0;
}

.el-select-dropdown__item {
    color: #c6c7c8;
}

.el-popper[x-placement^=bottom] .popper__arrow, .el-popper[x-placement^=bottom] .popper__arrow::after {
    border-bottom-color: #5b6c7f;
}

.el-select-dropdown__item.hover, .el-select-dropdown__item:hover {
    background-color: #234b6c;
}

/*覆盖的data-picker样式*/
.el-date-editor.el-input, .el-date-editor.el-input__inner {
    width: 135px;
}

.el-picker-panel {
    color: white;
    border: 1px solid #dfe4ed;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
    background: #172f4b;
    border-radius: 4px;
    line-height: 30px;
    margin: 5px 0;
}

.el-picker-panel__icon-btn {
    color: white;
}

.el-date-editor .el-input__inner {
    border-radius: 0;
    background: #5b6c7f !important;
    color: #c6c7c8;
    height: 32px;
    vertical-align: middle;
    border: none;
}

.el-date-editor .el-input__icon {
    line-height: 32px;
}

.expand-dialog .el-dialog {
    background: url(../popupTable.png) no-repeat;
    background-size: 100%;
    box-shadow: none;
    border: none;
    padding: 0 0 40px 0;
}

.el-dialog__wrapper {
    background: rgba(17, 33, 58, 0.8);
}

.el-dialog__header, .el-dialog__body {
    padding: 0;
    padding-top: 15px;
}

.el-dialog__header .el-dialog__headerbtn {
    border: 2px solid white;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    top: 20px;
    right: 35px;
}

.el-dialog__headerbtn .el-icon {
    color: white;
    font-size: 18px;
    line-height: 24px;
}

.action-group .iconfont {
    font-size: 18px;
}

.action-group .el-button + .el-button {
    margin-left: 0;
}

/*数据框的通用底部样式*/
.data-footer-box {
    height: 42px;
    line-height: 42px;
    padding: 0 10px;
}

.data-footer-box .action-group {
    display: inline-block;
    height: 100%;
    width: 33.2%;
}

.data-footer-box .box-center {
}

.data-footer-box .box-center .el-button {
    margin: 0 10px;
}

.data-footer-box .action-group .el-button {
    background: transparent;
    color: white;
    padding: 5px;
    border: none;
    font-size: 18px;
    vertical-align: middle;
}

/*页面头部的通用样式*/


/*row col 的间隔色*/
.dark-item {
    background-color: #1d3c5b;
    height: 30px;
    line-height: 30px;
    color: #196ca5;
}

.light-item {
    background-color: #172f4b;
    height: 30px;
    line-height: 30px;
    color: #196ca5;
}



.popup-other-infos {
    width: 99.9%;
}

.popup-other-infos .other-item {
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: white;
    margin-bottom: 5px;
    background-color: #1d3c5b;

}

.popup-other-infos .other-item span {
    font-weight: 600;

}

.tool-btn-group .el-button {
    background: transparent;
    color: white;
    padding: 5px;
    border: none;
    font-size: 18px;

}
.tool-btn-group .el-button .iconfont {
    font-size: 18px;
}
.data-header-box {
    height: 48px;
    line-height: 48px;
    padding: 0 10px 0 15px;
}

.data-header-box .title {
    color: white;
    text-align: left;
    font-weight: bold;
}

.data-header-box .action-group {
    width: 75px;
    height: 100%;
}

.data-header-box .action-group .el-button {
    background: transparent;
    color: white;
    padding: 5px;
    border: none;
    font-size: 18px;
}

/*覆盖的单选按钮样式*/
.checkbox-wrapper{
    height: 40px;
    box-sizing: border-box;
    background-color: #16304F;
    padding: 0 15px;
}
.el-radio {
    color: white;
    font-weight: 500;
    line-height: 40px;
    cursor: pointer;
    white-space: nowrap;
    outline: 0;
}
.el-radio__inner {
    border: 1px solid #2CA1F4;
    border-radius: 100%;
    width: 18px;
    height: 18px;
    background-color: #16304F;
    cursor: pointer;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.el-radio__input.is-checked .el-radio__inner {
    border-color: #2CA1F4;
    background: #2CA1F4;
}
.el-radio__input.is-checked .el-radio__inner::after{
    background-color: white;
}
.el-radio__input.is-checked+.el-radio__label{
    color: #2CA1F4;
}
.el-radio__label {
    padding-left: 5px;
}
.el-radio+.el-radio {
    margin-left: 10px;
}
.el-radio__input .el-radio__inner::after {
     -webkit-transform: translate(-50%,-50%) scale(1);
     transform: translate(-50%,-50%) scale(1);
}
.el-radio__inner::after{
    background-color: #2CA1F4;
    width: 6px;
    height: 6px;
}
