
* {
    padding: 0;
    margin: 0;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.g-lf {
    float: left;
}

.g-rt {
    float: right;
}

.red {
    color: #ff0000;
}

.green {
    color: #00ff00;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.el-table th {
    background-color: #2f6189 !important;
}

.el-table thead {
    color: white !important;
}

.el-table__body, .el-table__footer, .el-table__header {
    border-bottom: 5px solid #172f4b;
}

.el-table tr {
    background-color: #1d3c5b;
    color: white;
}

.el-table--enable-row-hover .el-table__body tr:hover > td {
    background-color: #2f6189;
}

.el-table td, .el-table th {
    padding: 6px 0;
}

.el-table .cell, .el-table th div {
    padding-right: 0;
}

.el-table .cell, .el-table th div, .el-table--border td:first-child .cell, .el-table--border th:first-child .cell {
    text-align: center;
    padding-left: 0;
}

.el-table td, .el-table th.is-leaf {
    border-bottom: 3px solid #172f4b;
}

.el-table--border::after, .el-table--group::after, .el-table::before {
    background-color: #172f4b;
}

.el-table__empty-block {
    background-color: #11213A;
    color: white;
    font-weight: bold;
    font-size: 16px;
}

/*覆盖的tab选项卡样式*/
.data-content .el-tabs--card > .el-tabs__header {
    border: none;
    margin: 0;
}

.data-content .el-tabs--card > .el-tabs__header .el-tabs__nav, .el-tabs--card > .el-tabs__header .el-tabs__item {
    border: none;
    border-radius: 0;
    background-color: #234b6c;
    height: 34px;
    line-height: 34px;
}

.data-content .el-tabs--card > .el-tabs__header .el-tabs__item.is-active {
    border: none;
    color: white;
    background-color: #2f6189;
}

.data-content .el-tabs__item {
    color: #1291de;
    text-align: center;
}

/*多个select的group*/
.select-group-wrapper {
    padding: 30px 10px 10px 10px;
}

.select-group-wrapper .el-select .el-input__inner {
    border-radius: 0;
    background-color: #5b6c7f;
    color: #c6c7c8;
    width: 117px;
    vertical-align: middle;
    border: solid 1px #46586c;
}

.select-group-wrapper button {
    border-radius: 0;
    background-color: #48515c;
    color: #cccccc;
    width: 64px;
    vertical-align: middle;
    border: solid 1px #46586c;
}

.select-group-wrapper .el-button:focus, .el-button:hover {
    color: #c6c7c8;
    background-color: #234b6c;
}

.el-select-dropdown {
    background-color: #5b6c7f;
    border: none;
    border-radius: 0;
}

.el-select-dropdown__item {
    color: #c6c7c8;
}

.el-popper[x-placement^=bottom] .popper__arrow, .el-popper[x-placement^=bottom] .popper__arrow::after {
    border-bottom-color: #5b6c7f;
}

.el-select-dropdown__item.hover, .el-select-dropdown__item:hover {
    background-color: #234b6c;
}

.expand-dialog .el-dialog {
    background: url(../popupTable.png) no-repeat;
    background-size: 100%;
    box-shadow: none;
    border: none;
    padding: 0 0 40px 0;
}

.el-dialog__wrapper {
    background: rgba(17, 33, 58, 0.8);
}

.el-dialog__header, .el-dialog__body {
    padding: 0;
    padding-top: 15px;
}

.el-dialog__header .el-dialog__headerbtn {
    border: 2px solid white;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    top: 20px;
    right: 35px;
}

.el-dialog__headerbtn .el-icon {
    color: white;
    font-size: 18px;
    line-height: 24px;
}

/*数据框的通用头部样式*/
.data-header-box {
    height: 48px;
    line-height: 48px;
}

.data-header-box .title {
    color: white;
    text-align: left;
    padding: 0 15px;
    font-weight: bold;
    float: left;
}

.data-header-box .action-group {
    width: 70px;
    height: 100%;
}

.data-header-box .action-group .el-button {
    background: transparent;
    color: white;
    padding: 5px;
    border: none;
    font-size: 18px;
}

.action-group .iconfont {
    font-size: 18px;
}

.action-group .el-button + .el-button {
    margin-left: 0;
}

/*数据框的通用底部样式*/
.data-footer-box {
    height: 42px;
    line-height: 42px;
    padding: 0 10px;
}

.data-footer-box .action-group {
    display: inline-block;
    height: 100%;
    width: 33.2%;
}

.data-footer-box .box-center {
}

.data-footer-box .box-center .el-button {
    margin: 0 10px;
}

.data-footer-box .action-group .el-button {
    background: transparent;
    color: white;
    padding: 5px;
    border: none;
    font-size: 18px;
}

/*页面头部的通用样式*/
.sys-header-box {
    width: 100%;
    height: 164px;
    background: url(../logo.png) no-repeat;
    background-size: 100%;
}

/*row col 的间隔色*/
.dark-item {
    background-color: #1d3c5b;
    height: 30px;
    line-height: 30px;
    color: #196ca5;
}

.light-item {
    background-color: #172f4b;
    height: 30px;
    line-height: 30px;
    color: #196ca5;
}

/*菜单栏*/


